{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}

    {% endblock title %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .header {
            background-image: linear-gradient(to right, coral, pink, brown);
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: xx-large;
            font-style: italic;
            font-weight: bold;
            text-decoration: underline;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: rgba(255, 255, 255, 1) !important;
        }

        table {
            text-align: center;
        }
    </style>
</head>

<body style="background-image: url({% static 'bg1.jpg' %}); background-repeat: no-repeat;
background-size: cover">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <a href="home"><img src="../static/logo.png"
                    style="border-radius: 50%;height: 50px;width: 60px; margin-right: 5px;"></a>
            <a class="navbar-brand" href="home">Emall</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home">Home</a>
                    </li>
                    <!-- users related-->
                    
                    {% if 'admin' in request.session.userType %}

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="showuser">Show Users</a>
                    </li>
                    {% endif %}

                    {% if 'Buyer' in request.session.userType %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="showprofile">Profile</a>
                    </li>
                    {% endif %}

                    {% if 'admin' in request.session.userType %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Product Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="addpc">Add Product Category</a></li>
                            <li><a class="dropdown-item" href="showpc">Show Product Categories</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    {% if 'Seller' in request.session.userType %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="addpro">Add Products</a></li>
                            <li><a class="dropdown-item" href="showpro">Show Products</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if 'Buyer' in request.session.userType %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Shopping
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="shopnow">Shop Now</a></li>
                            <li><a class="dropdown-item" href="cart">View Cart</a></li>
                            <li><a class="dropdown-item" href="orders">View Order</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <!-- Complaints -->
                    {% if 'Buyer' in request.session.userType %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="addcomp">Add Complaint</a>
                    </li>
                    {% endif %}

                    {% if 'admin' in request.session.userType %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="showcomp">Show Complaints list</a>
                    </li>
                    {% endif %}
                </ul>

                {% if request.session.userId %}
                <p
                    style="color:white;font-weight:bolder;position:absolute;background-color: grey; font-size: smaller;right: 100px;">
                    Welcome :
                    {{ request.session.userName }}</p>
                <a href="logouts"><button type="button" class="btn btn-warning">Logout</button></a>&nbsp;&nbsp;
                {% else %}
                <a href="logins"><button type="button" class="btn btn-primary">Login</button></a>&nbsp;&nbsp;
                <a href="adduser"><button type="button" class="btn btn-dark">Register</button></a>

                {% endif %}


            </div>
        </div>
    </nav>


    {% block body %}

    {% endblock body %}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>